[Desktop Entry]
Name=Minecraft
Comment=Start Minecraft Launcher
Exec=env __GLX_VENDOR_LIBRARY_NAME=mesa %s/minecraft-launcher
Terminal=false
Type=Application
Categories=Game;
Icon=%s
StartupWMClass=Minecraft
